.card {
  font-family: "Inter", sans-serif;
  background: #ffffff;
  border-radius: 10px;
}

.card__description {
  display: flex;
  justify-content: space-between;
}

.card__title {
  max-width: 220px;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 25px;
  padding-bottom: 25px;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0px 0px;
}

.card__like-button {
  background-image: url(../images/like-logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
  width: 21px;
  height: 18px;
  border: none;
  align-self: center;
  margin-right: 20px;
}

.card__like-button:hover {
  opacity: 0.5;
  transition: all ease 0.3s;
}
