.modal {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.15);
}

.modal__container_opened {
  display: flex;
}

.modal__container {
  background: white;
  max-width: 430px;
  border-radius: 10px;
  padding: 34px 36px;
  position: relative;
}

.close {
  width: 40px;
  height: 40px;
  top: -46px;
  right: -46px;
  background: none;
  border: 0;
  position: absolute;
  cursor: pointer;
  background-image: url("../images/CloseIcon.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  border: none;
}

.close:hover {
  opacity: 60%;
  transition: 0.4s ease;
}

.modal__title {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: black;
  margin: 0;
  padding-bottom: 54px;
}

.modal__form {
  background: white;
  box-sizing: border-box;
  margin: 0 auto;
}

.form {
  box-sizing: border-box;
  border: none;
  padding: 0px;
  margin: 0;
}

.form__fieldset {
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0px;
}

.form__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  padding: 0;
  padding-right: 36px;
  padding-bottom: 13px;
  margin-bottom: 30px;
  width: 100%;
}

.form__input::placeholder {
  color: #838383;
  font-size: 14px;
  line-height: 17px;
}

.form__button {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: white;
  background-color: black;
  border: none;
  width: 100%;
  border-radius: 2px;
  padding: 20px;
  margin-top: 18px;
  box-sizing: border-box;
}

.form__button:hover {
  opacity: 80%;
  transition: 0.4s ease;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .modal__container {
    max-width: 282px;
    max-height: 322px;
  }
  .close__button {
    width: 26px;
    height: 26px;
    right: 10px;
  }
  .modal__title {
    max-width: 238px;
    font-size: 18px;
    line-height: 22px;
  }
  .form__input {
    font-size: 14px;
    line-height: 17px;
  }
  .form__input::placeholder {
    font-size: 14px;
    line-height: 17px;
  }
  .form__button {
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
