.profile {
  display: flex;
  width: 100%;
  max-width: 880px;
}

.profile__picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-top: 38.25px;
  margin-right: 26.25px;
}

.profile__info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 62px;
  width: 415px;
}

.profile__name {
  font-family: "Inter", sans-serif;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 373px;
  white-space: nowrap;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.2;
  color: white;
  margin: 0;
}

.profile__subtitle {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: white;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit-button {
  background-image: url(../images/pencil.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
  width: 24px;
  height: 24px;
  padding: 0;
  border: 1px solid #ffffff;
  margin-left: 18px;
}

.profile__edit-button:hover {
  opacity: 0.6;
  transition: all ease 0.2s;
}

.profile__add-button {
  background-image: url(../images/add.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
  width: 150px;
  height: 50px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  margin-left: auto;
  margin-top: 75px;
}

.profile__add-button:hover {
  opacity: 0.6;
  transition: all ease 0.3s;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .profile {
    flex-direction: column;
    align-items: center;
  }
  .profile__picture {
    margin: 38.25px 0px 0px 0px;
  }
  .profile__info {
    max-width: 224px;
    min-width: 224px;
    margin: 26px 0px 0px 0px;
    flex-direction: row;
    justify-content: center;
  }
  .profile__name {
    font-size: 22px;
  }
  .profile__subtitle {
    font-size: 14px;
    margin-top: 14px;
  }
  .profile__add-button {
    width: 282px;
    margin: 36px 0px 0px 0px;
  }
  .profile__edit-button {
    height: 18px;
    width: 18px;
    margin-left: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .profile {
    justify-content: space-evenly;
    min-width: 700px;
    max-width: 880px;
    margin: auto;
  }

  .profile__add-button {
    margin-left: 0px;
  }
}
